{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'calendar'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <br><br>
    <div class="container px-lg-3">
        <div class="p-4 p-lg-5 bg-light rounded-3">
                <h1 class="display-5 fw-bold" style="text-align:center">Calendar</h1><br>
                <h3 class="fw-bold" style="text-align:center">January</h1>
            <ol class="calendar">
                <li class="calendar-day calendar-day--begin-week calendar-day--past calendar-day--not-month" data-weekday="Mon" data-week="39">
                  <span class="calendar-day__number">26</span>
                  <div class="calendar-day__content"></div> 
                </li>
                <li class="calendar-day calendar-day--past calendar-day--not-month" data-weekday="Tue" data-week="39">
                  <span class="calendar-day__number">27</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past calendar-day--not-month" data-weekday="Wed" data-week="39">
                  <span class="calendar-day__number">28</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past calendar-day--entry calendar-day--not-month" data-weekday="Thu" data-week="39">
                  <span class="calendar-day__number">29</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past calendar-day--not-month" data-weekday="Fri" data-week="39">
                  <span class="calendar-day__number">30</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past calendar-day--entry" data-weekday="Sat" data-week="39">
                  <span class="calendar-day__number">01</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past calendar-day--entry" data-weekday="Sun" data-week="39">
                  <span class="calendar-day__number">02</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--begin-week calendar-day--past" data-weekday="Mon" data-week="40">
                  <span class="calendar-day__number">03</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past" data-weekday="Tue" data-week="40">
                  <span class="calendar-day__number">04</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past" data-weekday="Wed" data-week="40">
                  <span class="calendar-day__number">05</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--past" data-weekday="Thu" data-week="40">
                  <span class="calendar-day__number">06</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--today" data-weekday="Fri" data-week="40">
                  <span class="calendar-day__number">07</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sat" data-week="40">
                  <span class="calendar-day__number">08</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--entry" data-weekday="Sun" data-week="40">
                  <span class="calendar-day__number">09</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--begin-week calendar-day--entry" data-weekday="Mon" data-week="41">
                  <span class="calendar-day__number">10</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--entry" data-weekday="Tue" data-week="41">
                  <span class="calendar-day__number">11</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--entry" data-weekday="Wed" data-week="41">
                  <span class="calendar-day__number">12</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Thu" data-week="41">
                  <span class="calendar-day__number">13</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Fri" data-week="41">
                  <span class="calendar-day__number">14</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sat" data-week="41">
                  <span class="calendar-day__number">15</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sun" data-week="41">
                  <span class="calendar-day__number">16</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--begin-week" data-weekday="Mon" data-week="42">
                  <span class="calendar-day__number">17</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Tue" data-week="42">
                  <span class="calendar-day__number">18</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Wed" data-week="42">
                  <span class="calendar-day__number">19</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Thu" data-week="42">
                  <span class="calendar-day__number">20</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Fri" data-week="42">
                  <span class="calendar-day__number">21</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sat" data-week="42">
                  <span class="calendar-day__number">22</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sun" data-week="42">
                  <span class="calendar-day__number">23</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--begin-week" data-weekday="Mon" data-week="43">
                  <span class="calendar-day__number">24</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Tue" data-week="43">
                  <span class="calendar-day__number">25</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Wed" data-week="43">
                  <span class="calendar-day__number">26</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Thu" data-week="43">
                  <span class="calendar-day__number">27</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Fri" data-week="43">
                  <span class="calendar-day__number">28</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sat" data-week="43">
                  <span class="calendar-day__number">29</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day" data-weekday="Sun" data-week="43">
                  <span class="calendar-day__number">30</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--begin-week" data-weekday="Mon" data-week="44">
                  <span class="calendar-day__number">31</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Tue" data-week="44">
                  <span class="calendar-day__number">01</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Wed" data-week="44">
                  <span class="calendar-day__number">02</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Thu" data-week="44">
                  <span class="calendar-day__number">03</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Fri" data-week="44">
                  <span class="calendar-day__number">04</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Sat" data-week="44">
                  <span class="calendar-day__number">05</span>
                  <div class="calendar-day__content"></div>
                </li>
                <li class="calendar-day calendar-day--not-month" data-weekday="Sun" data-week="44">
                  <span class="calendar-day__number">06</span>
                  <div class="calendar-day__content"></div>
                </li>
              </ol>
        </div>
    </div>
    <br><br>
</header>
{%endblock%}