{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'calendar'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <div class="container px-lg-3 py-5" style="text-align:center">
      <iframe src="https://calendar.google.com/calendar/embed?src=50c7a6f32496ac99d139cd974bef6bb1722c7e1dfd5bde173eccb4a09a203c38%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</header>
{%endblock%}