{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'clubs'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <br><br>
    <div class="container px-lg-5">
        <table class="table table-hover">
            <thead>
              <th scope="col">Faculty Name</th>
              <th scope="col">Club Name</th>
              <th scope="col">Club Description</th>
              <th scope="col">Club Meeting Location</th>
              <th scope="col">Meeting Day(s)</th>
            </thead>
            <tbody>
              {% for row in clubs %}
              <tr>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>{{ row[5] }}</td>
                  <!-- Add more columns as needed -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <br><br>
</header>
{%endblock%}