{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'home'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <br><br><br><br>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Bergen Tech Club App</h1>
                <p class="fs-4">Welcome to the Official Club Management Website for Bergen Tech! </p>
                <a class="btn btn-primary btn-lg bg-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Bergen Tech Club App</h1>
                <p class="fs-4">Welcome to the Official Club Management Website for Bergen Tech! </p>
                <a class="btn btn-primary btn-lg bg-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Bergen Tech Club App</h1>
                <p class="fs-4">Welcome to the Official Club Management Website for Bergen Tech! </p>
                <a class="btn btn-primary btn-lg bg-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Bergen Tech Club App</h1>
                <p class="fs-4">Welcome to the Official Club Management Website for Bergen Tech! </p>
                <a class="btn btn-primary btn-lg bg-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
</header>
{%endblock%}