{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'dashboard'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
                
<div class="background-img" >
    <header class="pt-5" style="background-color:rgba(255,255,255,0.8); min-height: 100vh">
        <div class="sidebar">
                {% for club_name in user_clubs%}
                    <a href="{{ url_for('stream', club_name=club_name) }}">
                    <span>{{club_name}}</span>
                    </a>
                {% endfor %}
        </div>

        <div class="clubs">
            {% for club_name in user_clubs%}
                <a href="{{ url_for('stream', club_name=club_name) }}" style="text-decoration: none;">
                    <div class="club">
                        <div style="font-weight:bold">
                            {{club_name}}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </header>
</div>

{%endblock%}