{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'my_clubs'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->

<div class="background-img">
<header class="pt-6" style="background-color:rgba(255,255,255,0.8)">

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/dashboard" class="d-flex align-items-center py-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Clubs</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {% for club_name in user_clubs%}
                    <li class="nav-item py-3">
                        <a href="{{ url_for('stream', club_name=club_name) }}" class="nav-link link-light text-start px-1">
                        <span class="text-start ms-1 d-none d-sm-inline">{{club_name}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
</div>

{%endblock%}