{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'home'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img">
<header class="pt-5" style="min-height: 100vh;">
    <div class="title">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <br>
        <div class="alert alert-{{ category }} alert-dismissible fade show  container" role="alert">
           <strong>{{ message }}</strong>
           <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <div style="margin-top:100px">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <img src="static\images\TeterboroLogo.png" style="float:right" alt="">
            <div class="m-4 m-lg-5">                
                <h1 class="display-5 fw-bold">Bergen Tech Club App</h1>
                <p class="fs-4" style="width:50%; margin-top:20px">Welcome to the Official Club Management Website for Bergen Tech! </p> <br>
                {%if current_user.is_authenticated%}
                <a class="btn btn-primary btn-lg bg-dark" href="/dashboard" style="opacity:1">My Dashboard</a>
                {% else %}
                <a class="btn btn-primary btn-lg bg-dark" href="/login" style="opacity:1">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<section style="background-color:rgba(255,255,255,0.9);border-top:5px solid #FFD700;">
    <h1 class="py-5 display-5 fw-bold text-center">Club Events</h1>
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5" >
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature  text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>            
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature text-white rounded-3 mb-4 mt-n4"><img src="static\images\placeholder.png" style="width:70px;height:70px;border-radius:10%;border:2px solid #555" alt=""></div>
                        <h2 class="fs-4 fw-bold">Code Club</h2>
                        <p class="mb-0">Blah Blah smth happening asdfasfasfasfd</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark fixed-bottom" style="padding-top: 1.5rem;padding-bottom: 1.5rem;position:relative;z-index:1000; border-top:3px solid #FFD700">
    <div class="container"><p class="m-0 text-center text-white">Bergen Tech - 2024</p></div>
</footer>
{%endblock%}