{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'login'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5 background-img">
    <div class="container px-lg-5 text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <br>
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           <strong>{{ message }}</strong>
           <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card bg-light border-0 h-100 register">
            <div class="m-2 rounded-3 ">
                <form action="/login" method="POST">
                    <h1 class="display-5 fw-bold">Login</h1>
                    <br>
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email address" name="email" required>
                    <br>
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                    <br>
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <br>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary bg-dark" type="submit">Sign in</button>
                    <br>
                </form>
                <br>
                <a style="text-decoration:none;"  href="/register">Or Register Here</a>
            </div>
        </div>
    </div>
    <br>
    <br>
</header>
{%endblock%}