{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'my_clubs'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img">
<header class="pt-6" style="background-color:rgba(255,255,255,0.8)">
    <div class="sidebar">
        <a class="active" href="#home">Dashboard</a>
        <a href="#news">Club 1</a>
        <a href="#contact">Club 2</a>
        <a href="#about">Club 3</a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</header></div>
{%endblock%}