{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'myclubs'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <br><br>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <img src="static\images\placeholder.png" style="margin-right:50px; float:right; width:300px; height:300px; border-radius:50%" alt="">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Code Club</h1>
                <p class="fs-6">Advisor : Mr. Gemici </p>
                <p class="fs-5">Description goes here blah blah <br> Description goes here blah blah </p><br>
                <a class="btn btn-primary btn-lg bg-dark" href="#!">View</a> 
                <img src="" alt="" class="img-thumbnail"> 
            </div>
        </div>
    </div>
    <br><br>
</header>
{%endblock%}