{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'register'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5">
    <br><br><br><br>
    <div class="container px-lg-5 text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           <strong>{{ message }}</strong>
           <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
            <div style="padding-left:30% ;padding-right:30%" class="m-2 rounded-3">
                <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data" action="/register">
                    
                    <h1 class="display-5 fw-bold">Register</h1>
                    <br>

                    <input type="text" class="form-control" placeholder="First Name" name="name" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="email" class="form-control" placeholder="Your Email" name="email" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Confirm password" name="confirm_password" aria-describedby="basic-addon1" required>
                    <br>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary bg-dark" type="submit">Sign in</button>
                    <br>
                  </form>
            </div>
    </div>
    <br>
    <br>
</header>
<section class="pt-4">
    <br>
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">

        </div>
    </div>
{%endblock%}