{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'register'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<header class="pt-5 background-img">
    
    <div class="container px-lg-5 text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <br>
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           <strong>{{ message }}</strong>
           <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <div class="card bg-light border-0 h-100 register">
            <div class="m-2 rounded-3">
                <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data" action="/register">
                    
                    <h1 class="display-5 fw-bold">Register</h1>
                    <br>
                    <input type="text" class="form-control" placeholder="First Name" name="name" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="email" class="form-control" placeholder="Your Email" name="email" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Confirm password" name="confirm_password" aria-describedby="basic-addon1" required>
                    <br>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary bg-dark" type="submit">Register</button>
                    <br>
                    <br>
                  </form>
                  <a style="text-decoration:none;"  href="/login">Already Signed In? Login Here</a>
            </div>
        </div>
    </div>
    <br>
    <br>
</header>
{%endblock%}