{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'dashboard'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img" >
    <header class="pt-5" style="background-color:rgba(255,255,255,0.8); min-height: 100vh">
        <div class="sidebar">
                {% for club_name in user_clubs%}
                    <a href="{{ url_for('stream', club_name=club_name) }}">
                    <span>{{club_name}}</span>
                    </a>
                {% endfor %}
        </div>
        <div class="club">
            {{club_name}}
            <h1 class="bg-light">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </h1>
                {% if ownership %}
                <form action="{{ url_for('stream', club_name=club_name) }}" method="post">
                    <label for="message">Enter your message:</label><br>
                    <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
                {% endif %}
        </div>  
</div>

{%endblock%}


